{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            <h3>{{ message }}</h3>
        </div>
    {% endfor %}

    <br>
    <div class="container containerHeight pb-4">
        <h2>Les réservations</h2>
        <br>
       
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Nom</td>   
                    <td>Nbre Convive</td> 
                    <td>Date</td> 
                    <td>Allergie</td>  
                    <td>Heure</td>    
                    <td>Commentaire</td>  
                </tr> 
            </thead>
            <tbody>
                {% for form in forms %}
                    <tr>
                        <td>{{form.id}}</td>
                        <td>{{form.name}}</td>  
                        <td>{{form.nbreConvive}}</td> 
                        <td>{{form.date|format_date(pattern='d.M.y')}}</td> 
                        <td>
                            {% if (form.allergie == 1) %}
                                oui
                            {% else %}
                                non
                            {% endif %}   
                        </td>  
                        {% for sub in form.subgroup %}
                            <td>{{sub}}</td> 
                        {% endfor %}
                        {% for sub in form.subgroup2 %}
                            <td>{{sub}}</td> 
                        {% endfor %}            
                        <td>{{form.comment}}</td>
                        <td><a href="{{'supprimer/'}}{{form.id}}" class="link danger">Supprimer</a></td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
{% endblock %}
