{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <div class="container containerHeight ">
        <h2>Information sur les tables á reserver </h2>
        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Nr.</td>
                    <td>Nbre de places</td>
                    <td>Jour</td>                    
                    <td>Heure midi</td>
                    <td><a href="{{ '/table/creer'}}">Créer</a></td>
                </tr> 
            </thead>
            <tbody>
                {% for table in infoTable %}
                    <tr>
                        <td>{{table.id}}</td>
                        <td>{{table.placeNumber}}</td>
                        <td>{{table.day}}</td>
                        {% for mid in table.heureMidis %}
                            <td>{{mid.heure|format_time(pattern='HH:mm')}}</td>
                        {% endfor %}
                        <td>
                            <a href="{{'/table/modifier/'}}{{table.id}}" class="link ">Modifier</a> &nbsp;
                            <a href="{{'/table/supprimer/'}}{{table.id}}" class="link danger">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
